<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FinanceBro</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/userdepot">
                <span class="oi oi-dollar" aria-hidden="true"></span> Depot
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="historicChart">
                <span class="oi oi-graph" aria-hidden="true"></span> Historic Charts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="symbolnews">
                <span class="oi oi-globe" aria-hidden="true"></span> News Articles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="symbolfacts">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Company Profile
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard-layout/seo">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
