@model CentralFinanceManagerUI.Models.UserDepots.UserDepot



    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Order Manager</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        <input type="text"
                               id="Symbol1"
                               value="Select your Symbol" />
                    </p>
                    <p>
                        <input type="text"
                               id="Quantity1"
                               value="Choose the Quantity" />
                    </p>
                    <p>
                        <input type="text"
                               id="MarketValue"
                               value="Market Value" />
                    </p>
                    <p>
                        <input type="text"
                               id="Quantity1"
                               value="Choose the Quantity" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


